@import "tailwindcss";

:root {
  --main-accent: #0077B6;
  --second-color: #CAF0F8;
}

* {
  box-sizing: border-box;
  /* border: 1px red solid; */
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body.noscroll {
  overflow: hidden;
}

button {
  font-weight: 600;
  cursor: pointer;
}

a {
  cursor: pointer;
}
