---

const { title } = Astro.props;

---
  <div class="title">
  <h1>{title}</h1>
  </div>

  <section class="section-center">
      <button class="prev">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          width="24"
          height="24"
        >
          <path
            d="M9.586 4l-6.586 6.586a2 2 0 0 0 0 2.828l6.586 6.586a2 2 0 0 0 2.18 .434l.145 -.068a2 2 0 0 0 1.089 -1.78v-2.586h7a2 2 0 0 0 2 -2v-4l-.005 -.15a2 2 0 0 0 -1.995 -1.85l-7 -.001v-2.585a2 2 0 0 0 -3.414 -1.414z"
          ></path>
        </svg>
      </button>

      <button class="next">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          width="24"
          height="24"
        >
          <path
            d="M12.089 3.634a2 2 0 0 0 -1.089 1.78l-.001 2.586h-6.999a2 2 0 0 0 -2 2v4l.005 .15a2 2 0 0 0 1.995 1.85l6.999 -.001l.001 2.587a2 2 0 0 0 3.414 1.414l6.586 -6.586a2 2 0 0 0 0 -2.828l-6.586 -6.586a2 2 0 0 0 -2.18 -.434l-.145 .068z"
          ></path>
        </svg>
      </button>
    <div class="carousel-container">

      <div class="carousel">
        <slot />
      </div>
    </div>
  </section>

<style>
  .title {
    padding: 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
  }

  .section-center {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: relative;
  }

  .section-center button {
    border-radius: 100%;
    height: 2.5rem;
    width: 2.5rem;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-accent);
    opacity: 0.5;
    border: none;
    cursor: pointer;
    color: white;
    z-index: 5;
    top: 50%;
    transform: translateY(-50%);
  }

  .section-center button:hover {
    opacity: 1;
    transform: scale(1.1);
    transform: translateY(-50%);
    transition: transform 0.3s ease-in-out;
  }

  .prev {
   left: 1.5rem;
  }

  .next {
    right: 1.5rem;
  }

  .carousel-container {
    padding: 0.5rem;
    width: 90%;
    overflow: hidden;
    position: relative;
  }

  .carousel {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    justify-content: left;
    transition: transform 0.3s ease-in-out;
  }
</style>

<!-- scripts -->
<script src="/js/carousel.js" defer></script>
